@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media (max-width: 1300px){
    .lesson{
        &__content{
            &-title{
                margin-top: 40px;
                font-weight: 700;
                font-size: 60px;
            }
        }
    }
}

@media (max-width: 1200px){
    .lesson{
        &__content{
            &-title{
                margin-top: 30px;
                font-weight: 700;
                font-size: 60px;
            }
            &-subtitle{
                margin-top: 20px;
                font-size: 24px;
            }
            &-text{
            margin-top: 20px;
            font-size: 16px;
            }
            &-btn{
                margin-top: 20px;
            }
        }
    }
    .start-btn {
        &--coach{
            margin-top: 30%;
        }
    }
    // .services {
    //     &__card {
    //         height: 550px;
    //     }
    // }
}
@media (max-width: 1100px){
    .container {
        padding: 0px 32px;
    }
    .lesson{
        &__content{
            &-title{
                margin-top: 20px;
                font-weight: 700;
                font-size: 50px;
            }
            &-subtitle{
                margin-top: 16px;
                font-size: 24px;
            }
            &-text{
            margin-top: 16px;
            font-size: 16px;
            }
            &-btn{
                margin-top: 16px;
            }
        }
    }
    .coaches {
        &__count {
            display: none;
        }
    }
}
/* Medium Devices, Desktops */
@media (max-width : 992px){
    .container{
        max-width: 1100px;
        padding: 0px 36px 0px 36px;
    }
    .lesson{
        &__content{
            &-text{
            margin-top: 16px;
            font-size: 16px;
            width: 300px;
            }
        }
    }
    .offer {
        &__item {
            width: calc(33.333% - 30px);
        }
    }
}
@media (max-width : 864px){
    .nav__menu__list-item{
        margin-left: 7px;
    }
}
/* Small Devices, Tablets */
@media (max-width : 800px){
    .container{
        max-width: 992px;
        padding: 0px 16px;
    }
    .logo{
    }
    .lesson{
        flex-direction: column;
        &__bg{
            order: -1;
            //width: 100%;
            margin: 0px -16px; 
        }
        &__bg > img{
            width: 100%;
        }
        &__content{
            width: 100%;
            padding: 24px 0px;
            &-text{
                width: auto;
                padding-top: 16px;
                margin: auto;
                font-size: 14px;
            }
            &-title{
                font-size: 36px;
            }
            &-subtitle{
                font-size: 14px;
            }
        }
    }
    .burger {
        margin-right: 14px;
        &-menu {
            display: block;
            margin-right: 24px;
        }
    }
    .nav{
        width: 0;
        height: 0;
        position: fixed;
        background-color: white;
        top: 0;
        right: 0;
        opacity: 0;
        flex-direction: column;
        background-image: url(../img/menu.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
        transition:0.3s ease-out;
        &__menu{
            flex-direction: column;
            &-button{
                display: none;
            }
            &__list{
                display: block;
                &-item {
                    margin-bottom:40px;
                    margin-left: 24px;
                }
                &-item > a{
                    font-weight: 700;
                    font-size: 24px;
                }
                &-item > a:hover:after,a:focus:after{
                    width: 0;
                }
            }
            &-line{
                position: absolute;
                bottom: 0;
                height: 4px;
                width: 100%;
                background-color: $pink;

            }
        }
    }
    .nav__active{
        opacity: 1 ;
        width: 100% ;
        height: 100% ;
    }
    .services {
        margin-top: 56px;
        &-title{
            font-size: 36px;
        }
        &-subtitle{
            font-size: 14px;
        }
        &__card {
            margin-right: 16px;
            &-content {
                height: 175px;
            }
        }
        &__cards {
            margin: 22px -16px;
        }
    }
    .offer {
        margin-top: 56px;
        &__item {
            width: calc(48% - 20px);
            &-subtitle{
                font-size: 14px;
            }
        }
        &__title{
            font-size: 36px;
        }
        &__subtitle{
            font-size: 14px;
            line-height: 23px;
        }
    }
    .coaches {
        margin-top: 56px;
        &__title{
            font-size: 36px;
        }
        &__subtitle{
            font-size: 14px;
            line-height: 23px;
        }
        &__cards{
            margin: 8px -16px;
        }
    }
    .footer {
        margin-top: 56px;
        &__logo{
            font-size: 14px;
        }
        &__copyright{
            font-size: 14px;
        }
    }
}

@media (max-width : 550px){
    .coaches{
        &__card {
            display: block !important;
        }
        &__card img {
            width: 100%;
        }
    }
    .start-btn{
        &--coach {
            display: none;
        }
    }
}

/* Custom, iPhone Retina */
@media (max-width : 320px){

}
