@import "fonts" ;
@import "icons" ;
@import "libs" ;
@import "base" ;
@import "vars" ;

.container{
    max-width: 1440px;
    padding: 0px 72px 0px 72px;
    margin: 0 auto;
}
.nav-container{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    color: $black;
    font-weight: 700;
    font-size: 18px;
}
.lock{
    overflow: hidden;
}
.icon {
    font-size: 70px;
    color:$pink;
}
.start-btn {
    margin-top: 40px;
    height: 46px;
    width: 161px;
    color: $pink;
    background-color: transparent;
    border: 2px solid $pink;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    &--nav {
        margin-left: 24px;
        @media only screen and (min-width: 801px) {
            display: none;
        }
    }
    &--coach {
        margin-top: 50%;
    }
}
.start-btn:hover {
    background-color: $pink;
    color: $white;
    transition: 0.5s;
}
.burger {
    height: 15px;
    width: 32px;
    &-menu {
        transition: all 0.3s;
        content: "";
        height: 2px;
        width: 32px;
        border-radius: 4px;
        background-color: $black;
        position: relative;
        z-index:2;
        transform: translateY(5px);
        &::after {
        @extend .burger-menu;
        position: absolute;
        transform: translateY(5px);
        }
        &::before {
        @extend .burger-menu;
        position: absolute;
        transform: translateY(-5px);
        }
        &-active {
            background-color: transparent;
            &:before {
              transform: rotate(45deg);
              top: 0;
            }
            &:after {
              transform: rotate(-45deg);
              top: 0;
            }
          }
    }
    @media only screen and (min-width: 801px) {
        display: none;
        }
}
.nav{
    position: relative;
    z-index:1;
    &__menu{
        display: flex;
        &__list{
            display: flex;
            align-items: center;
            &-item {
                margin-left: 24px;
            }
            &-item > a {
                position: inline-block;
                font-weight: 500;
                font-size: 14px;
                outline: none;
                text-decoration: none;
                cursor: pointer;
                color: $black;
            }
            &-item > a:after {
                display: block;
                content: "";
                width: 0%;
                height: 2px;
                background-color: $black;
                transition: width 0.3s ease-out;
            }
            &-item > a:hover:after,a:focus:after{
                width: 100%;
            }
        }
        &-heading {
            margin: 24px 0px 48px 24px;
            font-weight: 700;
            font-size: 36px;
            @media only screen and (min-width: 801px) {
              display: none;
            }
        }
        &-button{
            margin-left: 24px;
            height: 36px;
            width: 116px;
            background-color: transparent;
            border: 2px solid $black;
            border-radius: 3px;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.5px;
        }
        &-button:hover{
            background-color: $black;
            color: $white;
            transition: 0.5s;
        }
        &-mobile-button{
            margin-left: 24px;
            height: 46px;
            width: 161px;
            color: $pink;
            background-color: transparent;
            border: 2px solid $pink;
            border-radius: 3px;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.5px;
            @media only screen and (min-width: 801px) {
                display: none;
            }
        }
        &-line{
            @media only screen and (min-width: 801px) {
                display: none;
            }
        }
    }
}
.start-btn--lesson {
    margin-top: 24px;
}
.lesson{
    display: flex;
    position: relative;
    justify-content: space-between;
    &__content{
        padding: 73px 0px 80px 0px;
        width: 35%;
        &-title{
            //margin-top: 73px;
            font-weight: 700;
            font-size: 72px;
        }
        &-subtitle{
            margin-top: 16px;
            font-weight: 500;
            font-size: 24px;
        }
        &-text{
            margin-top: 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            //width: 380px;
        }
    }
    &__bg{
        margin-left: 16px;
    }
    &__bg > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.services {
    margin-top: 56px;
    &__title {
        font-size: 36px;
        font-weight: 700;
    }
    &__subtitle {
        max-width: 668px;
        margin-top: 12px;
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
    }
    &__cards {
        min-width: 0;
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
    }
    &__cards .slick-dots {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__cards .slick-dots li{
        list-style: none;
        margin: 0 4px;
    }
    &__cards .slick-dots li.slick-active button{
        background-color: $pink;
    }
    &__cards .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__cards .slick-track{
        left:-50px;
    }
    &__card {
        min-width: 0;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-sizing: border-box;
        box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
        border-radius: 2px;
        &-content {
            padding: 20px 16px 60px;
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
        }
        &-list {

            margin-top: 24px;
        }
        &-item {
            margin-top: 10px;
        }
        &-img {
            width: 100%;
        }
    }
}
.offer {
    margin-top: 100px;

    &__title {
        font-size: 36px;
        font-weight: 700;
    }
    &__subtitle {
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
        max-width: 668px;
    }
    &__advantages {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(25% - 30px);
        margin-top: 51px;
        align-items: center;
        text-align: center;
        &-subtitle {
            max-width: 180px;
            margin-top: 14px;
            font-weight: 400;
            font-size: 16px;
        }
    }
}
.coaches {
    margin-top: 100px;
    &__title {
        font-size: 36px;
        font-weight: 700;
    }
    &__subtitle {
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
        max-width: 668px;
    }
    &__cards {
        position: relative;
        margin-top: 48px;
    }
    &__cards .slick-dots {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__cards .slick-dots li{
        list-style: none;
        margin: 0 4px;
    }
    &__cards .slick-dots li.slick-active button{
        background-color: $pink;
    }
    &__cards .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__card {
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-sizing: border-box;
        box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
        border-radius: 2px;
        margin: 0 8px;
        display: flex !important;
        &-content {
            padding: 43px 0px;
            margin-left: 24px;
        }
        &-number {
            font-weight: 700;
            font-size: 16px;
        }
        &-title {
            margin-top: 10px;
            font-weight: 700;
            font-size: 24px;
        }
        &-subtitle {
            margin-top: 10px;
            font-weight: 400;
            font-size: 16px;
        }
        &-list {
            margin-top: 24px;
        }
        &-item {
            margin-bottom: 16px;
        }
        &-exp {
            opacity: 0.5;
        }
        &-btn {
            margin-top: 88px;
            height: 46px;
            width: 161px;
            color: $pink;
            background-color: transparent;
            border: 2px solid $pink;
            border-radius: 3px;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.5px;
        }
    }
    &__card-img {
        & img {
            width: 100%;
        }
    }
    &__navigation {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    &__arrow {
        border: none;
        background-color: transparent;
        &--prew {
            transform: scale(-1, 1);
        }
    }
    &__count {
        display: flex;
        align-items: center;
        margin: 0px 15px;
    }
    &__mobile {
        &-btn {
            background-color: transparent;
            padding: 10px;
            border-radius: 50%;
            border: 2px solid $pink;
            margin-left: 80%;
            & img {
                width: 15px !important;
                height: 15px;
            }
            @media only screen and (min-width: 551px) {
                display: none;
            }
        }
    }
}
.slick-disabled {
    opacity: 0.3;
}
.footer {
    margin-top: 100px;
    background-color: $dark;
    &__flex {
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        text-decoration: none;
        color: $white;
        font-weight: 700;
        font-size: 18px;
    }
    &__copyright {
        color: $white;
        font-weight: 400;
        font-size: 16px;
    }
}
@import "media" ; // Всегда в конце
